body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.menu-1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.menu-1 .menu-2{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.menu-1 .menu-2 ul{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-1 .menu-2 ul li{
    list-style: none;
    margin-left: 20px;
}
.menu-1 .menu-2 ul li a{
    color: #111;
    text-decoration: none;
    font-size: 13px;
}
.menu-1 .menu-2 ul li button{
    background: #4584ef;
    border: none;
    outline: none;
    padding: 8px 14px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}
.menu-1 .main{
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-1 .main .searchbox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.menu-1 .main .searchbox .search{
    width: 100%;
    padding: 10px;
    padding-left: 45px;
    padding-right: 60px;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
    font-size: 13px;
}
.menu-1 .main .searchbox .icon{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding: 8px 2px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;

}
.menu-1 .main .buttons{
    margin-top: 20px;
   
}
.menu-1 .main .buttons button{
    margin: 0 6px;
    padding: 10px 20px;
    color: #555;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
}
.menu-1 .main .buttons button:hover{
    border: 1px solid #ccc;
}
.menu-1 .main .lng{
    margin-top: 20px;
}
.menu-1 .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f2f2f2;
}
.menu-1 .footer .row{
    display: flex;
   justify-content: space-between;
   border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.menu-1 .footer .row ul{
    display: flex;
}
.menu-1 .footer .row ul li{
    list-style: none;
}
.menu-1 .footer .row ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #5f6368;
    margin-right: 15px;
}